<!DOCTYPE HTML>
<html>
	<head>
		<title>LinkUp</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assetsStellar/css/main.css" />
		<link rel="shortcut icon" href="linkup.png">
		<noscript><link rel="stylesheet" href="assetsStellar/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Header -->
					<header id="header" class="alt">
						<span class="logo"><img src="images/logo.svg" alt="" /></span>
						<h1>Welcome to LinkUp</h1>
						<p>Your new favorite app<br />
						built by <a href="https://shawnlawportfolio.netlify.app" target="_blank">@Shawn Lawrence</a>.</p>
					</header>
				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="#intro" class="active">Introduction</a></li>
							<li><a href="#first">Features</a></li>
							<li><a href="#cta">Get Started</a></li>
						</ul>
					</nav>
				<!-- Main -->
					<div id="main">
						<!-- Introduction -->
							<section id="intro" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>About</h2>
										</header>
										<p>LinkUp is the ultimate app that revolutionizes team connectivity, 
											providing you with all the essential features in one centralized platform. 
											Say goodbye to scattered tools and welcome meeting rooms tailored for standup sessions, engaging presentations, and a 
											secure hub for seamless communication. In LinkUp, you have the freedom to create a personalized profile, connecting with colleagues, 
											uploading a captivating profile picture, and sharing updates on the dynamic newsfeed. Stay organized by effortlessly saving all your 
											important events and deadlines to the intuitive calendar section, 
											ensuring you stay up to date with ease and efficiency. LinkUp is your comprehensive solution for team collaboration and effective communication.
										</p>
										<ul class="actions">
											<li><a href="/signup" class="button">Sign Up</a></li>
										</ul>
									</div>
									<span class="image"><img src="linkup.png" alt="" /></span>
								</div>
							</section>

						<!-- First Section -->
							<section id="first" class="main special">
								<header class="major">
									<h2>Features</h2>
								</header>
								<ul class="features">
									<li>
										<span class="icon solid major style5 fa-file-video"></span>
										<h3>Video Call</h3>
										<p>Our platform harnesses the power of the latest Agora WebRTC SDK to provide an exceptional user experience. 
											With this advanced technology, we enable the creation of diverse lobbies where users can seamlessly toggle their camera, 
											microphone, and screensharing capabilities. Leveraging JavaScript APIs, our platform facilitates direct communication between browsers, 
											eliminating the need for data to traverse through servers. This ensures a secure and efficient environment for real-time collaboration and interaction.</p>
									</li>
									<li>
										<span class="icon major style5 fa-calendar"></span>
										<h3>Calendar</h3>
										<p>Our platform boasts a robust foundation, incorporating cutting-edge technologies such as HTML, CSS (Less), and Jquery.
											 With these powerful tools, you can effortlessly save, retrieve, and delete events to and from our dynamic database,
											  allowing you to interact with your data in real time. As you explore the platform, be sure to take a moment to discover the captivating widget 
											showcased on the dashboard, offering an enhanced user experience and additional functionalities to elevate your journey with us.</p>
									</li>
									<li>
										<span class="icon major style5 fa-id-badge"></span>
										<h3>Personalize User profiles</h3>
										<p>
											Welcome to our platform, where you have the freedom to personalize your profile by uploading a captivating profile picture that truly 
											reflects your unique identity. In addition, you can expand your social circle by connecting with friends and acquaintances, 
											while effortlessly updating your information, which seamlessly integrates with our secure database. Rest assured, our platform is committed to 
											providing you with personalized notifications, timely alerts, and private messages that cater to your specific needs and preferences.</p>
									</li>
								</ul>
								<footer class="major">
									<ul class="actions special">
										<li><a href="/signup" class="button">Sign Up</a></li>
									</ul>
								</footer>
							</section>

						<!-- Get Started -->
							<section id="cta" class="main special">
								<header class="major">
									<h2>Ready for the full experience</h2>
									<p>Have fun and <br />
									welcome to LinkUp</p>
								</header>
								<footer class="major">
									<ul class="actions special">
										<li><a href="/login" class="button primary">Sign In</a></li>
										<li><a href="/signup" class="button">Sign Up</a></li>
									</ul>
								</footer>
							</section>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<h2>Application Backstory</h2>
							<p>In my family, we cherish the tradition of gathering together to engage in meaningful 
								conversations and bask in each other's delightful company. Communication has played a pivotal role in
								 shaping my life, serving as the conduit through which I forge connections with others, exchange dreams, and express my passions. 
								 This skill has proven invaluable in my career as a software engineer. Hence, I conceived the idea of LinkUp—a 
								comprehensive platform designed to facilitate organization, seamless communication, 
								collaborative work, and the cultivation of a vibrant and enjoyable environment. </p>
						</section>
						<section>
							<h2>Contact Information</h2>
							<dl class="alt">
								<dt>Linkedin</dt>
								<dd><a href="https://www.linkedin.com/in/shawnlawrence-dev/" target="_blank">shawnlawrence-dev</a></dd>
								<dt>Email</dt>
								<dd><a href="mailto:shawnlawrence.dev@gmail.com">shawnlawrence.dev@gmail.com</a></dd>
							</dl>
							<ul class="icons">
								<li><a href="https://twitter.com/Shawn_Lawrence2" target="_blank" class="icon brands fa-twitter alt"><span class="label">Twitter</span></a></li>
								<li><a href="https://github.com/shawn2233" target="_blank" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>
							</ul>
						</section>
						<p class="copyright">&copy; LinkUp</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assetsStellar/js/jquery.min.js"></script>
			<script src="assetsStellar/js/jquery.scrollex.min.js"></script>
			<script src="assetsStellar/js/jquery.scrolly.min.js"></script>
			<script src="assetsStellar/js/browser.min.js"></script>
			<script src="assetsStellar/js/breakpoints.min.js"></script>
			<script src="assetsStellar/js/util.js"></script>
			<script src="assetsStellar/js/main.js"></script>

	</body>
</html>